.Rchunksk {
    background-color: #f2dede !important;
    font-weight: bolder;
    color: red !important;
  }
  
  .Routsk {
    background-color: #d9edf7 !important;
    font-weight: bolder;
    color: blue !important;
  }